name: Update flake
on:
  workflow_dispatch:
  schedule:
    - cron: "0 2 * * *"
concurrency:
  group: update-flake
  cancel-in-progress: true
jobs:
  update-flake:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Setup Nix
        uses: ./.github/actions/setup-nix
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Update flake
        uses: DeterminateSystems/update-flake-lock@v27
        with:
          commit-msg: "chore: update flake"
          pr-title: "chore: update flake"
          pr-labels: |
            auto-merge
            dependencies
          token: ${{ secrets.GH_TOKEN }}
